body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat;
    padding: 0px !important
}

.container-fluid {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}

.card { box-shadow: 0px 4px 8px 0px #6074bf; }

.input {
    padding: 10px 10px !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem;
    box-sizing: border-box;
    font-size: 16px;
    width: 100px
}

.input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #6074bf;
    outline-width: 0
}

:-ms-input-placeholder { color: #fff }

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0; 
    border-color: #dc3545;
}

.datepicker {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 7px !important
}

.datepicker-dropdown:after { border-bottom: 6px solid #000 }

thead tr:nth-child(3) th {
    color: #000 !important;
    padding-top: 20px;
    padding-bottom: 10px
}

.dow,
.old-day,
.day,
.new-day {
    width: 30px !important;
    height: 30px !important;
    text-align:center;
    border-radius: 0px !important
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 6px !important;
    background-color: #eee;
    color: #000
}

.active {
    border-radius: 6px !important;
    background-image: linear-gradient(#90CAF9, #64B5F6) !important;
    color: #000 !important
}

.disabled {
    color: rgb(148, 148, 148) !important
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 5px 10px !important;
    text-transform: uppercase;
    text-align:center;
    font-size: 15px;
    color: #000 !important;
    opacity: 0.8
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1
}

.cell {
    border: 1px solid #BDBDBD;
    margin: 2px;
    cursor: pointer
}

.cell:hover { border: 1px solid #6074bf }

.cell.select {
    background-color: #004cb8;
    color: #fff
}

.fa-calendar {
    color: #fff;
    padding-left: 5px;
    cursor: pointer;
}