@model Medicard.Services.ViewModels.Account.ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change password";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            <div class="input-group mb-1 mt-3">
                <input asp-for="CurrentPassword" class="form-control" id="current-password" placeholder = "Current password" autocomplete="current-password" />
                <div class="input-group-append">
                     <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                     </div>
                </div>
            </div>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <div class="input-group mb-1 mt-3">
                <input asp-for="NewPassword" class="form-control" id="new-password" placeholder = "New password" autocomplete="new-password" onkeyup='check();' />
                <div class="input-group-append">
                    <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <div class="input-group mb-1 mt-3">
                <input asp-for="ConfirmPassword" class="form-control" id="confirm-password" placeholder = "Confirm password" autocomplete="new-password" onkeyup='check();' />
                <div class="input-group-append">
                     <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                     </div>
                </div>
            </div>
            <span id='message'></span>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var check = function() {
  if (document.getElementById('new-password').value ==
    document.getElementById('confirm-password').value) {
    document.getElementById('message').style.color = 'green';
    document.getElementById('message').innerHTML = 'Matching';
  } else {
    document.getElementById('message').style.color = 'red';
    document.getElementById('message').innerHTML = 'Not matching';
  }
}
    </script>
}
