@model Medicard.Services.ViewModels.RegisterExternalViewModel;

<div class="container">
        <div class="row">
            <div class="offset-lg-3 offset-sm-0 col-sm-12 col-lg-6">
                <div class="card card-outline card-primary">
                    <div class="card-header text-center">
                        <h1><b>Реєстрація</b></h1>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">in system @Model.LoginProvider account</p>
                        <form asp-controller="Account" asp-action="ExternalLoginRegister" method="post">
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show"></div>
                            <input asp-for="Email" type="hidden" value=@Model.Email />
                            <input asp-for="FirstName" type="hidden" value=@Model.FirstName />
                            <input asp-for="LastName" type="hidden" value=@Model.LastName />
                            <input asp-for="ReturnUrl" type="hidden" value=@Model.ReturnUrl />
                            <div class="row">
                                <div class="col-sm-6 col-lg-6">
                                    <div class="input-group mb-1 mt-3">
                                        <input asp-for="PhoneNumber" class="form-control" autocomplete="phonenumber" placeholder="+3808888888888" />

                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="input-group mb-1 mt-3">
                                       <select asp-for="Gender" 
                                        class="form-control" 
                                        asp-items="Html.GetEnumSelectList<Medicard.Domain.Entities.Enums.Gender>()">
                                        </select>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-envelope"></span>
                                        </div>
                                    </div>
                                    </div>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-4 offset-4 mt-2">
                                <button type="submit" class="btn btn-primary btn-block">Register</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
