@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Home Page";
}
@inject IViewLocalizer Localizer

<div
  class="bg-image p-5 text-center mb-5 text-black">
  <h2 class="display-2">@Localizer["Header"]</h2>

  <h5>@Localizer["Description"]</h5>
    <img src="~/images/bg-banner.jpg" alt = "banner" class="center" style="width:100%; height: 80% ">
</div>