@{
    ViewData["Title"] = "Home Page";
}

<div
  class="bg-image p-5 text-center mb-5 text-black"
  style="background-image: url('../images/bg-banner.jpg'); background-size: cover;">
  <h1 class="mb-3 h2">Welcome to medical system Medicard</h1>

  <p>
    Access medical services, prescription medicines and hospital care for free
  </p>
</div>