@using Microsoft.AspNetCore.Identity
@model List< Medicard.Domain.Entities.User>

<h2>User's List</h2>
<ul class="list-group">
    @foreach (Medicard.Domain.Entities.User user in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p style="color:black">@user.UserName</p>
            <a asp-action="PrivateMessage" asp-route-user="@user.UserName" class="btn btn-info">message</a>
        </li>
    }
</ul>


