@model Medicard.Services.ViewModels.Institution.InstitutionViewModel;

@{
     ViewData["Title"] = "Create institution";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form class="mx-auto half-width" asp-controller="Admin" asp-action="CreateInstitution" method="post">


            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" type="text" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkScheduleWeekdayStart"></label>
                <input asp-for="WorkScheduleWeekdayStart" type="time"  min="08:00" max="18:00" class="form-control">
                <span asp-validation-for="WorkScheduleWeekdayStart" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkScheduleWeekdayEnd"></label>
                <input asp-for="WorkScheduleWeekdayEnd" type="time"  min="08:00" max="18:00" class="form-control">
                <span asp-validation-for="WorkScheduleWeekdayEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WorkScheduleWeekendStart"></label>
                <input asp-for="WorkScheduleWeekendStart" type="time"  min="08:00" max="18:00" class="form-control">
                <span asp-validation-for="WorkScheduleWeekendStart" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="WorkScheduleWeekendEnd"></label>
                <input asp-for="WorkScheduleWeekendEnd" type="time"  min="08:00" max="18:00" class="form-control">
                <span asp-validation-for="WorkScheduleWeekendEnd" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ContactNumber"></label>
                <input asp-for="ContactNumber" type="text" class="form-control" placeholder="+3808888888888">
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>

            @if (this.User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="HeadDoctorId"></label>
                    <select asp-for="HeadDoctorId" asp-items="ViewBag.ListHeadDoctorsWithoutInstitution">
                        <option value="">NoHeadDoctor</option>
                    </select> 
                    <input type="hidden" asp-for="HeadDoctorId" /> 
                </div>
            }

            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn btn-success">Create</button>
            </div>

        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}